NODE_ENV=
ADMIN_PORT=
ADMIN_USERNAME=
ADMIN_PASSWORD=

DISCORD_TOKEN=
DISCORD_CHANNEL_ID=
GOOGLE_AI_API_KEY=
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/discord_jobs_bot?schema=public"

# Opcional. Recomendado para aumentar o rate limit da API do GitHub.
GITHUB_TOKEN=
